.search-bar{
    align-items: center;
    width: 40%;
    min-width: 470px;
    border-radius: 25px;
    border-color: rgb(202, 187, 187);
    border-top-color:rgb(255, 255, 255) ;
    border-left-color: rgb(255, 255, 255);
    height: 45px;
    padding-left: 50px;
    background: url("search_FILL0_wght400_GRAD0_opsz24.png") no-repeat left;
    background-size: 20px;
    background-position: 12px;
    margin-left: 20px;
    margin-right: 20px;
    outline: none;
    margin-top: 30px;
}
.search-bar:hover {
    box-shadow: 0px 1px 4px rgb(198, 189, 189);
}
.button{
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    font-size: 15px;
    border-radius: 5px;
    border-color: transparent;
}

.advancedButton{
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(78, 140, 240);
    margin-top: 20px;
    font-size: 15px;
    border-radius: 3px;
    border-color: transparent;
    margin-left: 42.5%;
    margin-bottom: 10px;
    font-size: small;
}
.advancedButton:hover{
    background-color: rgb(39, 115, 238);
}
.button:hover{
    box-shadow: 0px 1px 1px rgb(198, 189, 189);
}
.google{
    margin-top: 60px;
    
}
.footer1{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(228, 226, 226, 0.537);
    color: white;
    text-align: center;
}
.item1{
    margin-left: 20px; 
}
.list-i{
    text-decoration: none;
    color: rgb(77, 77, 77);
    text-align: center;
    margin-top: 10px;
    float: inline-start;
    margin: 10px;
    margin-right: 15px;
    font-size: 16px;
}
.list-i:hover{
    text-decoration: underline;
    text-decoration-color: rgb(77, 77, 77);
}

.m-google{
    width: 70px;
}
.advanced{
    font-size: 21px;
    font-weight: normal;
    color: rgb(221, 10, 10);
    margin: 30px;
    margin-left: 40px;
}
.heading{
    margin-top: 50px;
    display: inline;
    font-weight:normal;
    font-size: 17px;
    margin-bottom: 25px;
    width: 175px;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
}
.heading2{
    width: 200px;
    margin-bottom: 8px;
    line-height: 1;
}
.header{
    margin-bottom: 20px;
    margin-top: 50px;
}
.heading3{
    margin-top: 165px;
    display: inline;
    font-weight:normal;
    font-size: 17px;
    margin-bottom: 65px;
    width: 175px;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;

}
.heading4{
    margin: 40px;
    display: inline;
    font-weight:normal;
    font-size: 14px;
    width: 175px;
    font-family: Arial, Helvetica, sans-serif;
}
.todoHeader{
    margin-left: 42.5%;
    display: inline;
    margin-top: 50px;
    font-weight:normal;
    font-size: 15px;
    margin-bottom: 25px;
    width: 175px;
    font-family: Arial, Helvetica, sans-serif;
}
.form{
    margin-left: 40px;
}
.search{
    width: 43%;
    height: 30px;
    min-width: 250px;
}
.grid{
    display: grid;
}
.tip{
    border: 1px solid green;
}
.field{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 30px;
    width: 90%;
    display: flex;
    flex-direction: row;
}
.todo{
    width: 30%;
    margin-left: 20px;
    height: 30px;
}
.todo p{
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    padding-top: 6px;
    line-height: 1;
}

@media (max-width:1100px) {
    .todo{
        display: none
    }
    .todoHeader{
        display: none;
    }
    .links2{
        display: inline;
    }

}

.question{
    min-width: 190px;
    width: 190px;
}
.para{
    font-size: 14px;    
}
.big{
    width: 43%;
    min-width: 250px;
    display: inline-flex;
}
.to{
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
}
#search1, #search2 {
    width: 47%;
    height: 30px;
    min-width: 50px;
}
.question1{
    display: inline-block;
    width: 185px;
}
.select{
    width: 100%;
    display: grid;
    text-align: left;
    background-color: rgba(222, 222, 223, 0.355);
    height: 28px;
    font-weight: 500;
    padding-bottom: 3px;
    border-color: beige;
    font-size: 14px;
    padding-left: 5px;

}
.select:hover{
    box-shadow: 0px 1px 4px rgb(198, 189, 189);
    background-color: rgba(222, 222, 223, 0.289);

}
.aa{
    text-decoration: none;
}
.aa:hover{
    text-decoration: underline;
}
.line2{
    margin-left: 0px;
    width: 1170px;
}
.links{
    line-height: 1.2;
    margin-top: 14px;
}
.links a{
    text-decoration: none;
    font-size: 14px;
}
.footer{
    background-color:  rgba(222, 222, 223, 0.355);
    margin-top: 30px;
    padding-top: 15px;
    font-size: 12px;
    padding-bottom: 11px;
}
.footerLinks a{
    color: rgba(46, 46, 46, 0.325);
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}
.footerLinks a:hover{
    color:black;
}
.footerLinks{
    margin-top: 20px;
    margin-left: 20px;
}